In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
import plotly.express as px
warnings.filterwarnings("ignore")

In [3]:
book_df=pd.read_csv("../../data/data4display/goodreads-books.csv")
book_df.head(5)

,Book Id,Title,Author,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,genres
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Chil..."
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Chil..."
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,"Fantasy;Fiction;Young Adult;Fantasy,Magic;Chil..."
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,"Fantasy;Fiction;Young Adult;Fantasy,Magic;Chil..."
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,"Fantasy;Young Adult;Fiction;Fantasy,Magic;Adve..."

In [4]:
book_df.shape

(11127, 13)

In [5]:
book_df.isnull().sum()

Book Id                0
Title                  0
Author                 0
average_rating         0
isbn                   0
isbn13                 0
language_code          0
num_pages              0
ratings_count          0
text_reviews_count     0
publication_date       0
publisher              0
genres                97
dtype: int64

In [6]:
book_df = book_df.dropna(subset=['genres'])
book_df["genres"]=book_df["genres"].apply(lambda x: ';'.join( x.split(';')[:4] ).split(",")[0] )

In [7]:
book_df.isnull().sum()

Book Id               0
Title                 0
Author                0
average_rating        0
isbn                  0
isbn13                0
language_code         0
num_pages             0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
genres                0
dtype: int64

In [8]:
book_df.Title.duplicated().sum()
book_df.drop_duplicates(subset='Title', keep='first', inplace=True)

In [9]:
data=book_df.copy()

In [10]:
data.loc[(data["average_rating"]>=0) & (data["average_rating"]<=1),"rating_between"]="between_0_to_1"
data.loc[(data["average_rating"]>1) & (data["average_rating"]<=2),"rating_between"]="between_1_to_2"
data.loc[(data["average_rating"]>2) & (data["average_rating"]<=3),"rating_between"]="between_2_to_3"
data.loc[(data["average_rating"]>3) & (data["average_rating"]<=4),"rating_between"]="between_3_to_4"
data.loc[(data["average_rating"]>4) & (data["average_rating"]<=5),"rating_between"]="between_4_to_5"
data.head()

,Book Id,Title,Author,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,genres,rating_between
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,Fantasy;Young Adult;Fiction;Fantasy,between_4_to_5
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,Fantasy;Young Adult;Fiction;Fantasy,between_4_to_5
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic,Fantasy;Fiction;Young Adult;Fantasy,between_4_to_5
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,Fantasy;Fiction;Young Adult;Fantasy,between_4_to_5
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic,Fantasy;Young Adult;Fiction;Fantasy,between_4_to_5

In [11]:
between_df=data["rating_between"].str.get_dummies(",")
between_df

,between_0_to_1,between_1_to_2,between_2_to_3,between_3_to_4,between_4_to_5
0,0,0,0,0,1
1,0,0,0,0,1
2,0,0,0,0,1
3,0,0,0,0,1
4,0,0,0,0,1
...,...,...,...,...,...
11122,0,0,0,0,1
11123,0,0,0,0,1
11124,0,0,0,1,0
11125,0,0,0,1,0
11126,0,0,0,1,0

In [12]:
language_df=data["language_code"].str.get_dummies(",")
language_df.head()

,ara,en-CA,en-GB,en-US,eng,enm,fre,ger,gla,glg,...,msa,mul,nl,nor,por,rus,spa,swe,tur,zho
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
genres_df=data["genres"].str.get_dummies(";")
genres_df.head()

,1961-1975,40k,AUTOBIOGRAPHY,Academic,Action,Activities,Adult,Adult Fiction,Adventure,Alcohol,...,War,Weird Fiction,Westerns,Witchcraft,Womens,Womens Fiction,World Of Warcraft,World War II,Writing,Young Adult
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
engine_features=pd.concat([between_df,language_df,genres_df,data["average_rating"],data["ratings_count"]],axis=1)
engine_features

,between_0_to_1,between_1_to_2,between_2_to_3,between_3_to_4,between_4_to_5,ara,en-CA,en-GB,en-US,eng,...,Westerns,Witchcraft,Womens,Womens Fiction,World Of Warcraft,World War II,Writing,Young Adult,average_rating,ratings_count
0,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,4.57,2095690
1,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,4.49,2153167
2,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,4.42,6333
3,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,4.56,2339585
4,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,4.78,41428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,4.06,156
11123,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.08,783
11124,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.96,820
11125,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.72,769
11126,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.91,113

In [15]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
engine_features = min_max_scaler.fit_transform(engine_features)

In [16]:
from sklearn import neighbors
engine_model=neighbors.NearestNeighbors(n_neighbors=6,algorithm="ball_tree") # KD-Tree,Cover Tree,Brute-Force,Gaussian Mixture Models
engine_model.fit(engine_features)
dist, idlist = engine_model.kneighbors(engine_features)

In [17]:
def book_recommendation_engine(book_name):
    book_list_name = []
    book_list_genre= []
    book_id = data[data['Title'] == book_name].index
    if book_id.size == 0:
        print("Book not found!")
        return book_list_name,book_list_genre
    for newid in idlist[book_id]:
        book_list_name.append(data.iloc[newid].Title)
        for index, row in genres_df.iterrows():
            genre = row[row == 1].index.values  
            book_list_genre.append(list(genre))
    return book_list_name,book_list_genre

In [25]:
from colorama import Fore, Style

name = "Bill Bryson's African Diary"

book_list_name,book_list_genre = book_recommendation_engine(name)

if len(book_list_name) > 0:
    for i in range(len(book_list_name)):
        a=str(list(book_list_genre[i])).replace("[","").replace("]","").replace("'","")
        print("recommediton name: \n",book_list_name[i],"  genres: ", Fore.BLUE + a + Style.RESET_ALL)

recommediton name:
 14      Bryson's Dictionary of Troublesome Words: A Wr...
7454                                 The Art of the Novel
130                                               Writing
383     The War of Art: Break Through the Blocks & Win...
8076    Sister Bernadette's Barking Dog: The Quirky Hi...
4690                 How to Write: Advice and Reflections
Name: Title, dtype: object   genres:  Fantasy, Fiction, Young Adult